<div class="container-fluid">
  <div class="row" style="margin-top: 30px">
    <div class="col-md-3">
      <a href="https://twitter.com/SurfClubSolana" target="_blank" rel="noopener noreferrer"><img src="../assets/xlogo.png" style="max-height: 100px;">  </a>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-4 text-center">
      <audio controls autoplay loop>
        <source src="../assets/YMCA.mp3" type="audio/mp3">
      </audio>
    </div>
    <div class="col-md-1">
    </div>
    <div class="col-md-3">
    </div>
  </div>


  <div class="row text-center">
    <h1>DAD IS GAY FROG</h1>
  </div>
  <div class="row text-center" style="margin-top: 69px;">
      <img src="../assets/frog.jpg" class="rounded mx-auto d-block" style="max-width: 500px;">    
  </div>
  <div class="row text-center">
    <h1>"I'M SO PROUD OF YOU SON"</h1>
  </div>




</div>

